# frontend
## turbo
frontend/.turbo

## dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

## testing
frontend/coverage

## next.js
frontend/.next/
frontend/out/

## production
frontend/build

## misc
frontend/.DS_Store
*.pem

## debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

## local env files
frontend/.env*.local

## vercel
frontend/.vercel

## typescript
*.tsbuildinfo
frontend/next-env.d.ts

# backend
backend/.venv
backend/venv
backend/.ipynb_checkpoints
backend/*.ipynb
backend/.env

backend/test_notebooks

# pg_to_redis_listener
pg_to_redis_listener/.venv
pg_to_redis_listener/venv
pg_to_redis_listener/.ipynb_checkpoints
pg_to_redis_listener/*.ipynb
pg_to_redis_listener/.env

pg_to_redis_listener/test_notebooks


# pg_to_redis_listener
pg_to_redis_listener/.venv
pg_to_redis_listener/venv
pg_to_redis_listener/.ipynb_checkpoints
pg_to_redis_listener/*.ipynb
pg_to_redis_listener/.env

pg_to_redis_listener/test_notebooks


*/__pycache__
__pycache__

backend/.vscode
backend/.vscode/*
*/.DS_Store
*.egg-info
*.key


# overall
volumes
.env
.pem
.vscode