fastapi
supabase
openai>=1.0.0
uvicorn[standard]
termcolor
tiktoken
numpy
python-dotenv
Requests
markdown
APScheduler
pytz
pydantic
python-multipart
pytest
pytest-asyncio
pytest-mock
pytest-cov
promptmodel>=0.1.0

