fastapi
supabase
# openai==0.28.1
openai
uvicorn[standard]
termcolor
tiktoken
numpy
python-dotenv
Requests
markdown
APScheduler
pytz
pydantic
python-multipart
# promptmodel
git+https://github.com/weavel-ai/promptmodel.git@aschung01/wea-194#egg=promptmodel
